body {
}

#searchForm {
	max-width: 920px;
}

#footer p {
	max-width: 960px;
}

.message {
	background-color: #E0F1FA;
	padding: 10px;
	margin-bottom: 10px;
}

.message h2 {
	font-size: 1.6em;
	color: #4B4B4B;
}

