body {
}

#searchForm {
	max-width: 920px;
}

#main {
	max-width: 920px;
	overflow: hidden;
}

#secondary {
	width: 25%;
	float: left;
}

#primary {
	width: 75%;
	float: left;
}

#primary .inner {
	padding-left: 20px;
}

#footer p {
	max-width: 960px;
}

#navigation {
	border: 1px solid #ccc;
	border-bottom: none;
	margin-bottom: 30px;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style: none;
	font-size: 1.2em;
}

#navigation ul li a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}