body {
}

#searchForm {
	max-width: 920px;
}

#main {
	max-width: 920px;
	padding: 20px;
	overflow: hidden;
}

#footer p {
	max-width: 960px;
}

#navigation {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 30px;
	float: left;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style: none;
	font-size: 1.1em;
}