body {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 62.5%;
}

.hide {
	display: none;
}

h1 {
	font-size: 2em;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

#container {

}

#header {
	background-color: #e6e6e6;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#fff));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #fff, #e6e6e6);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #fff, #e6e6e6);
	/* IE 10 */
	background: -ms-linear-gradient(top, #fff, #e6e6e6);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #fff, #e6e6e6);	
	border-bottom: 1px solid #ddd;	
}

#headerInner {
	max-width: 920px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 4px;
}

#logo {
	float: left;
	padding-left: 4px;
	padding-top: 7px;
}

#logo a img {
	border: none;
	width: 100px;
}

#header .ribbonButton {
	border: 1px solid #d0d0d0;
	border-radius: 7px;
	padding: 8px;
	color: #4B4B4B;
	font-size: 1.1em;
	margin: 0 auto;
	width: 66px;
	text-align: center;
	display:block;
	padding-left: 30px;
	min-height: 12px;
	
	background-color: #ebebeb;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#f9f9f9));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	/* IE 10 */
	background: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #f9f9f9, #ebebeb);	
	background-image: url(../img/services_icon.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

#header .navigationButton {
	float: right;
	font-size: 1.1em;
	border: 1px solid gainsboro;
	border-radius: 7px;
	background-color: #444;
	color: #777;
	width: 27px;
	height: 27px;
	
	
	background-color: #ededed;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#dfdfdf));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #dfdfdf, #ededed);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #dfdfdf, #ededed);
	/* IE 10 */
	background: -ms-linear-gradient(top, #dfdfdf, #ededed);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #dfdfdf, #ededed);		
	background-image: url(../img/categories.png);
	background-repeat: no-repeat;
	background-position: 1px 1px;
	background-size: 24px 24px;
	display: none;
}

#ribbon {
	background-color: #444;
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#aaa));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #aaa, #444);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #aaa, #444);
	/* IE 10 */
	background: -ms-linear-gradient(top, #aaa, #444);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #aaa, #444);	
}

#ribbon .icon {
	width: 80px;
	float: left;
	margin-right: 20px;
	height: 80px;
	background-color: #eee;
	border: 1px solid #444;
	border-radius: 7px;
	margin-bottom: 20px;
}

#ribbonInner {
	padding: 20px 20px 0px 20px;
	max-width: 920px;
	margin: 0 auto;
	overflow: hidden;
}

#navigation {

}

#footer {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px;
	background-color: #f5f5f5;
}

#footer p {
	margin: 0 auto;
	font-size: 1.2em;
}

.panel {
	border: 1px solid #ddd;
	padding: 40px;
	margin-bottom: 20px;
}

#main {
	margin: 0 auto;
	padding: 20px;
}

#searchForm {
	margin: 0 auto;
	padding: 20px;
}

#searchForm form {
	overflow: hidden;
}

#searchForm .field {
	float: left;
}

#searchForm .actions {
	float: left;
}

#thingers {

}

#thingers .thinger {
	overflow: hidden;
}

#thingers .thinger .icon {
	width: 80px;
	height: 80px;
	background-color: #eee;
	border-radius: 7px;
}