body {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 62.5%;
}

.hide {
	display: none;
}

h1 {
	font-size: 2em;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

#container {

}

#header {
	background-color: #e6e6e6;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#fff));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #fff, #e6e6e6);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #fff, #e6e6e6);
	/* IE 10 */
	background: -ms-linear-gradient(top, #fff, #e6e6e6);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #fff, #e6e6e6);	
	border-bottom: 1px solid #ddd;	
}

#headerInner {
	max-width: 920px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 4px;
}

#logo {
	float: left;
	padding-left: 4px;
	padding-top: 7px;
}

#logo a img {
	border: none;
	width: 100px;
}

#header .ribbonButton {
	border: 1px solid #d0d0d0;
	border-radius: 7px;
	padding: 8px;
	color: #4B4B4B;
	font-size: 1.1em;
	margin: 0 auto;
	width: 66px;
	text-align: center;
	display:block;
	padding-left: 30px;
	min-height: 12px;
	
	background-color: #ebebeb;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#f9f9f9));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	/* IE 10 */
	background: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #f9f9f9, #ebebeb);	
	background-image: url(../img/services_icon.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

#header .navigationButton {
	float: right;
	font-size: 1.1em;
	border: 1px solid gainsboro;
	border-radius: 7px;
	background-color: #444;
	color: #777;
	width: 27px;
	height: 27px;
	
	
	background-color: #ededed;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#dfdfdf));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #dfdfdf, #ededed);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #dfdfdf, #ededed);
	/* IE 10 */
	background: -ms-linear-gradient(top, #dfdfdf, #ededed);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #dfdfdf, #ededed);		
	background-image: url(../img/categories.png);
	background-repeat: no-repeat;
	background-position: 1px 1px;
	background-size: 24px 24px;
	-webkit-background-size: 24px 24px;
	-moz-background-size: 24px 24px;
	-ms-background-size: 24px 24px;
	-o-background-size: 24px 24px;
	display: none;
}

#ribbon {
	background-color: #444;
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#aaa));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #aaa, #444);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #aaa, #444);
	/* IE 10 */
	background: -ms-linear-gradient(top, #aaa, #444);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #aaa, #444);	
}

#ribbon .icon {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#ribbonInner {
	padding: 20px 20px 0px 20px;
	max-width: 920px;
	margin: 0 auto;
	overflow: hidden;
}

#navigation {
	border-top: 1px solid #ccc;
	border-bottom: none;
	margin-bottom: 30px;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style: none;
	font-size: 1.4em;
}

#navigation ul li a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	color: #444;
	text-decoration: none;
}

#navigation ul li a.selected {
	color: #E20074;
}

#footer {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px;
	background-color: #f5f5f5;
}

#footer p {
	margin: 0 auto;
	font-size: 1.2em;
}

.panel {
	border: 1px solid #ddd;
	min-height: 100px;
	margin-bottom: 20px;
}

.panel h2 {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	margin: 0;
	font-size: 1.6em;
}

#main {
	margin: 0 auto;
	padding: 20px;
}

#searchForm {
	margin: 0 auto;
	padding: 20px;
}

#searchForm form {
	overflow: hidden;
}

#searchForm .field {
	float: left;
}

#searchForm .actions {
	float: left;
}

#searchForm .actions input,
#searchForm .actions a {
	color: #333;
	font-size: 1.2em;
	text-decoration: none;
	border: 1px solid #aaa;
	padding: 3px;
	display: inline-block;
	background-color: #f5f5f5;
	border-radius: 3px;
}

#thingers {
	overflow: hidden;
}

#thingers .thinger {
	width: 145px;
	float: left;
	margin-bottom: 20px;
	border: 1px solid #d0d0d0;
	border-radius :3px;
	-webkit-border-radius :3px;
	padding: 20px;
	margin-right: 20px;
}

#thingers .thinger h3 {
	font-size: 1.6em;
	color: #444;
	text-transform: uppercase;
	text-align: center;
}

#thingers .thinger .icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: #ccc;
	border-radius: 7px;
}

.message {
	background-color: #E0F1FA;
	margin-bottom: 10px;
	padding: 3px;
}

.message h2 {
	margin: 0;
	padding: 0;
}

.heading {
	background-color: #f0f0f0;
	padding: 10px;
}

.heading h1 {
	font-size: 1.6em;
	color: #444;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

#main {
	max-width: 920px;
	overflow: hidden;
}

#secondary {
	width: 25%;
	float: left;
}

#primary {
	width: 75%;
	float: left;
}

#primary .inner {
	
}

#placeHolder {
	border: 1px solid #d0d0d0;
	background: #f5f5f5;
	margin-bottom: 20px;
	padding: 20px;
}

#placeHolder p {
	text-align: center;
	font-size: 17px;
}

#streamNavigation {
	border: 1px solid #D0D0D0;
	border-right: none;
}

#streamNavigation ul {
	padding: 0;
	margin: 0;
}

#streamNavigation .stream {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #D0D0D0
}

#streamNavigation .stream:last-child {
	border-bottom: none;
}

#streamNavigation .stream a {
	padding: 6px;
	display: block;
	color: #444;
	text-decoration: none;
	position: relative;
}

#streamNavigation .stream a.selected {
	background-color: #eee;
}

#streamNavigation .stream p.header {
	font-size: 15px;
	margin: 0;
	padding: 0;
}

#streamNavigation .stream p.name {
	font-size: 11px;
}

#streamNavigation .stream p.updateTime {
	position: absolute;
	bottom: 7px;
	right: 7px;
}

#streamDisplay {
	height: 500px;
	border: 1px solid #d0d0d0;
}

#pageCatalogue #primary .inner {
	padding-left: 20px;
}