body {
}

#ribbonInner,
#footer p,
#main,
#searchForm,
#footer p  {
	width: auto;
}

#header .ribbonButton {
	padding: 0px;
	width: 27px;
	height: 27px;
}

#header .ribbonButton span {
	display: none;
	
}

#headerInner {
	padding: 5px;
}

#headerInner .navigationButton {
	display: block;
}

#headerInner .navigationButton.activated {
	background-color: #444;
	background-image: url(../img/categories_selected.png);
}

#navigation {
	position: absolute;
	right: 6px;
	top: 35px;
	padding: 10px;
	background-color: #444;
	width: 70px;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	font-size: 1.1em;
	list-style: none;
}

#navigation ul li a {
	color: #fff;
}

#ribbonInner {
	padding: 5px;
}

#ribbon .icon {
	width: 75px;
	height: 75px;
	margin-right: 5px;
	margin-bottom: 5px;
}